# Amlogic Thermal


config AMLOGIC_THERMAL
    bool "amlogic thermal support"
    select THERMAL
    select CPU_THERMAL
    default n
    help
      This is the Amlogic Thermal interface driver
